<h2>Clases disponibles</h2>

</br>

<div>
<table>
  <tr>
    <th>Clase</th>
    <th>Fecha</th>
    <th>Cupos</th>
  </tr>
  
  <% @clases.each do |clas| %>
    
    <tr>
      <td><%= clas.nombre %></td>
      <td><%= clas.fecha %></td>
      <td><%= clas.cupos %></td>
      <td><%= link_to 'Reservar', {:controller => 'reservas', :action => 'cupoClase', :id => clas.id, :fecha => clas.fecha } %></td>
      <% if can? :destroy, @clase %>
      <td><%= link_to 'Eliminar', clase_path(clas), method: :delete, data: { confirm: "Eliminar?" } %></td> |
      <% end %>
    </tr>

  <% end %>

</table>
</div>

</br>
</br>

<% if can? :new, @clase %>
<%= link_to 'Nueva clase', new_clase_path %>
<% end %>
</br>
</br>
<%= link_to 'Home', root_path %>
